body {
    display: flex;
    margin: 0%;
    flex-direction: column;
    font-family: "Roboto";
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: rebeccapurple;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
    margin: 10px;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.website {
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.image {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

